*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(135deg, #38A2D6, #234ba1,#1c4192, #151775, #3c1263, #581255, #551138);
    background-size: 400% 300%;
    background-repeat: no-repeat;
    animation: animacion 10s ease infinite;
    /*height: 5000px;*/
}

/* Nav-bar*/
header{
    height: 100px;
}

.header{
    background-color: rgb(58, 15, 78);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.logo{
    color: #cfcbcb;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.menu nav ul{
    display: flex;
    justify-content: space-around;
}

.elements{
    list-style: none;
    margin: 0px 20px;
    padding: 0px;
}

.elements a{
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    transition: opacity 300ms;
}

.NAV{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#NAV{
    display: none;
}

.Parts{
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(7, 5, 5);
    margin-top: 6.002px;
    transform-origin: 0px 100%;
    transition: all 250ms;
}

.activeparts_NAV1{
    transform: rotate(45deg) translate(-2.4px,1px);
}

.activeparts_NAV2{
    opacity: 0;
    margin-left: -40px;

}

.activeparts_NAV3{
    transform: rotate(-45deg) translate(-3.8px, 2.3px);
}

main{
    max-width: 1200px;
    height: calc(100vh+800px);
    padding: 40px;
    margin: auto;
}

/* Inicio */

.inicio{
  height: 100vh;
}

.cajita{
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  columns: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cajita p{
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.cajita h2{
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

.cajita h2 span{
  color: rgb(12, 14, 12);
}

 /* Hero */

 .slide-contenedor{
    max-width:100%;
    max-height: 100vh;
    width: 100%;
    height:auto;
    position: relative;
    overflow: hidden;
    margin: auto; 
}

.miSlider img{
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a{
    color: #000;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(0, 0, 0, .5);
    transition: .5s;
}

.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}

.barra{
    cursor: pointer;
    height:2px;
    width: 25px;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active{
    background-color: #e74c3c;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;    
}

/* Experience */

.exp{
  background-color: #e7e7e7;
  width: 100%;
  display: flex;
  align-items:flex-start;
  border-width: 10px;
  border-color: black;
}

 .work{
  font-family: sans-serif;
  width: 70%;
  background-color: #e7e7e7;
  padding: 20px;
  align-content: center;
 }

.img_pyt{
  background-color: #e7e7e7;
  max-height: 200px;
  width: 30%;
  display: block;
  margin: 20px;
}

 .prt{
  display: block;
  width: 100%;
 }

 .titulo{
  font-size: 30px;
  margin: 10px;
  margin-bottom: 15px;

 }

 h5{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
 }

 .tech{
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 5px;
  list-style:circle;
 }

.date{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 30px;
}

 /*About Me*/

 .About{
  margin: auto;
  max-width: 1200px;
  padding: 100px 15px;
  display: flex;
 }

 .minephoto{
  max-width: 400px;
  margin-right: 80px;
 }

 .minephoto img{
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: #F5F5F5;
 }

 .me{
  margin: 0 40px;
 }

 .titulo-about{
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(190, 186, 179);
  text-decoration-thickness: 5px;
 }

 .me h2{
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
 }

 .me h2 span{
  color: rgb(12, 14, 12);
 }

 .me h3{
  font-size: 18px;
  font-weight:  500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
 }

 .me p{
  font-size: 14px;
  line-height: 25px;
  color: darkgrey; 
  margin-bottom: 12px;
}

/*Skills*/

/*Contact Me*/

 @media (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }

    .links{
        opacity: 0;
        transform: translateX(100%);
        position: absolute;
        right: 0px;
        height: 87.2vh;
        top: 12.8vh;
        flex-direction: column;
        background-color: rgb(58, 15, 78);
        display: flex;
        align-items: center;
        width: 50%;
        transition: transform 500ms ease-in;
    }

    .elements{
        opacity: 0;
    }

    #NAV{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

 }

.menuactive{
    transform: translateX(0%);
    opacity: 1;
}

@keyframes navlinkfrade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade {
  from {opacity: .4;}
  to{opacity:1;}
}

@keyframes animacion{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}

